<body>
  

  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

    <h1 class="text-uppercase fw-bold mb-4 "> Parcial N°1 </h1>

  </div>


    <footer >

      <section class="flex justify-center items-center h-24 bg-slate-700 text-black">
        <div class="container text-center text-md-start mt-5">

          <div class="row mt-3">

          
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h2 class="text-uppercase fw-bold mb-4">Alumnas:</h2>
                <p>Mercedes Uribe</p>
                <p>Andrea Tamanaha</p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                  <h2 class="text-uppercase fw-bold mb-4">Materia:</h2>

                    <p>Aplicaciones Híbridas</p>
                    <p>Profesora: Camila Marcos Galvan</p>
            </div>

          </div>


        </div>
      </section>

      <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.025);">
        <p>  ©2024 : Todos los derechos reservados</p>
      </div>

    </footer>

</body>