<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial 1 - Aplicaciones Híbridas</title>

  </head>
  <body>
    <div class="container">
      <h1>Bienvenido a la API de DecaSport</h1>
      <p>Esta API proporciona acceso a varios recursos para gestionar usuarios y productos de la tienda online DecaSport.</p>
        <h2>Endpoints Disponibles:</h2>
        <ul>
          <li><a href="/users">/users </a>- GET: Obtiene todos los usuarios </li>
          <li><a href="/users">/users </a>- POST: Crea un nuevo usuario</li>
          <li><a href="/users/:email" >/mail</a> </a>- PUT: Actualiza un usuario existente por su dirección de correo electrónico</li>
          <li><a href="/products">/products</a> </a></a>- GET: Obtiene todos los productos</li>
          <!-- Agregar los otros endpoints-->
        </ul>
    </div>
  
    <footer>
      <div class="container">
        <p>Desarrollado por: María Andrea Tamanaha y Ana Mercedes Uribe</p>
        <p>Materia: Aplicaciones Híbridas</p>
        <p>Profesora: Camila Marcos Galván</p>
        <p>Comisión: DWN4AV</p>
        <p>Año: 2024</p>
      </div>
    </footer>
  </body>
</html>

<a></a>